$primary-black: #000000;
$primary-blue: #0314ef;
$primary-darkblue: #020da4;

$secondary-darkblue: #09116f;
$secondary-lightblue: #3a58f6;
$secondary-grey: #98989e;
$secondary-greyblue: #7285da;

$orb-violet: hsla(248, 100%, 40%, 1);
$orb-gold: hsla(61, 100%, 65%, 1);
$orb-turquoise: hsla(184, 100%, 46%, 1);
