@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

.header-container {
  @include flex(row, space-between, center);
  @include media-breakpoint-sm() {
    @include flex(column, space-between, center);
  }
  margin-top: -30px;
  .header-logo img {
    width: 300px;
    height: 150px;
  }
  .header-nav {
    width: 40%;
    @include flex(row, space-evenly, center);
    @include media-breakpoint-sm() {
      @include flex(column, center, center);
    }
    .nav-link {
      text-decoration: none;
      color: $secondary-grey;
      &:hover {
        color: $secondary-greyblue;
        transition: all 0.2s ease-in-out;
      }
      @include media-breakpoint-sm() {
        @include flex(column, center, center);
        display: none;
      }
    }
  }
}
