@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

.footer-container {
  color: $secondary-grey;
  font-size: 20px;
  @include flex(row, space-between, center);
  position: fixed;
  bottom: 0px;
  left: 0px;
  padding: 15px 30px;
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  .footer-item {
    @include flex(row, space-evenly, center);
    width: 300px;
  }
}
