@import '../../styles/theme.scss';
@import '../../styles/mixins.scss';

.footer-container {
  position: fixed;
  bottom: 0px;
  left: 0;
  padding: 15px 60px 30px;
  width: 100%;
  z-index: 100;
  transition: all 0.2s ease-in-out;
  .social-links {
    display: flex;
  }
}
